{% extends 'base.html.twig' %}
{% block body %}
<br><br>
  
<article id="article">
    <h1 class="text-center">HotelSabaa </h1>
   
    
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur voluptatem dolores, tenetur dolorem alias quae explicabo ut molestiae repudiandae ipsam consequuntur aperiam corrupti repellat autem velit facere vero illum atque delectus quam blanditiis sunt cupiditate. Quidem, voluptate perferendis voluptatum fuga, culpa facilis molestias quaerat fugiat at exercitationem soluta placeat aspernatur voluptatibus est dolores quos alias itaque a ea, repudiandae minus doloremque. Id molestias dolores consequuntur numquam facere ipsa blanditiis officiis inventore harum vel? Ipsam sapiente perferendis similique earum, iusto cum, quaerat dolor dignissimos velit deserunt culpa odit natus est esse sint excepturi? Ab ratione doloribus officia consequuntur, rem ipsam eum?</p>
    <br>
    <p>Chaque année, quelque <strong> 1,4   milliard </strong>d’animaux sont abattus pour leur peau, et des dizaines de milliers de personnes sont exposées au risque de développer des troubles majeurs de la santé à cause des produits chimiques utilisés dans les tanneries. Cancers, maladies de peau, cécités… sont monnaie courante pour ces employés d’usines, dont l’espérance de vie moyenne n’excède pas les 50 ans. Malgré les interdictions internationales, des mineurs et enfants travailleurs y sont également exploités, souvent de manière forcée. <br> Cette misère est de surcroît cachée par un marché opaque. Celui-ci offre au public un accès facile et bon marché à des produits prétendument naturels, alors que le cuir est un produit transformé et massivement traité. De plus, ce secteur non seulement pollue les zones environnant les tanneries, qui souvent rejettent les bains de traitement chimiques dans la nature, mais il participe également beaucoup au phénomène de réchauffement climatique puisqu’il dépend du secteur de l’élevage, une des industries les plus émissives en CO2 au monde.</p>
    <br>
    <p id="demo" style="display:none" >  Parce que je suis attaché à la chaussure en tant qu’objet utile à tous mais aussi pour son esthétique, et que je crois nécessaire de rendre accessible une alternative de qualité n’imposant plus d’avoir à choisir entre affinités esthétiques et convictions morales, j’ai décidé de créer <strong>ECO CHAUSS</strong> – une marque de chaussures qui n’utilise aucune matière d’origine animale (100 % véganes et labellisées PETA), est produite dans un cadre sécurisé, qui respecte la dignité humaine. <br>Ainsi, nous fabriquons nos chaussures dans la région parisienne, dans un petit atelier qui veille au bien-être de ses employés et valorise leur travail. Nous utilisons des matières synthétiques et naturelles recyclées : bouteilles PET reconditionnées, PU, coton, fibres de bois et caoutchouc recyclé. Toutes possèdent les qualités nécessaires au confort du pied puisqu’elles sont anti-bactériennes, anti-odeurs, hypoallergéniques et anti-transpirantes.<br> Notre vision étant fondée sur une consommation réfléchie et mesurée, notre production se devait également d’être en accord avec les problématiques pluri-environnementales. Aussi, nos chaussures se composent de matières de qualité, résistantes pour être durables, certifiées OEKO-TEX 100, et provenant toutes de fournisseurs européens (italiens et espagnols). Soucieux de nous développer de manière responsable, nous sommes actuellement en cours de développement de modèles utilisant des matériaux de type similis d’origine végétale, comme le cuir de pomme.</p>
  
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam consectetur numquam voluptatem vel eveniet voluptate aliquid fugiat. Eius ipsa at eveniet enim sunt inventore pariatur laboriosam quisquam repudiandae minima blanditiis deleniti a alias omnis illo aliquam esse iusto culpa expedita autem voluptate molestiae, doloribus laborum excepturi? Ea sapiente, consequuntur voluptatem accusamus consequatur sed doloribus odio reprehenderit ipsa debitis. Laudantium mollitia quibusdam, perferendis sed labore distinctio aperiam esse dolore deleniti quo tenetur? Voluptas sunt mollitia molestias ab nulla voluptate iusto iure dolore rem unde cumque voluptatem quas nihil modi, quod natus consequuntur ea soluta quibusdam itaque a veritatis magni! Facilis, pariatur.</p><br>
       
</article>
		
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.6401926641965!2d2.299503476270432!3d48.86507117133293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdd0dd39a4d%3A0x508194b82b12f012!2s1%20Av.%20Montaigne%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1666174290850!5m2!1sfr!2sfr" class="d-flex rounded m-5" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>






{% endblock %}